.services {
  min-height: 60vh;
  max-width: 100%;
  padding: 4.5rem 0;
  background: var(--services-main-background);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.servicesTextContainer {
  max-width: 80%;

  h1 {
    font-size: var(--h1-font-size);
    margin-bottom: 4rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: var(--services-title-color);
    text-shadow: 2px 2px 4px var(--services-text-shadow-color);
  }

  h2 {
    color: var(--services-tagline-color);
  }

  p {
    text-align: center;
    color: var(--services-paragraph-color);
  }
}

.servicesGridContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  width: 60%;
}

.gridContaineritem {
  background: var(--services-grid-item-background);
  border-radius: 15px;
  box-shadow: 0 10px 15px -3px var(--services-box-shadow-color),
              0 4px 6px -2px var(--services-box-shadow-hover-color);
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: translateY(var(--services-hover-translate-y));
  }
}

@media screen and (max-width: 600px) {
  .services {
    .servicesTextContainer {
      h1 {
        font-size: 1.5rem;
      }

      p {
        font-size: 1rem;
      }
    }
  }
}