// About.scss

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 35px 20px 35px;
  font-family: var(--font-family);
  gap : 30px;
  height: 65vh;
  margin-top: 30px;
}

.aboutTextContainer {
  max-width: 50%; /* Adjust the width as needed */
  padding: 20px;
  text-align: left;
}

.aboutTitle {
  font-size: 2.5rem; /* Larger font size for the title */
  font-family: var(--font-family);
  text-align: left;
}

.aboutImageContainer {
  //max-height: 100px;
  padding: 20px;
  max-width: 50%; /* Adjust the width as needed */
}

.aboutImageContainer img {
  max-width: 100%;
  height: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 10px;
}
.image:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
p{
  text-align: left;
}



@media screen and (max-width: 768px) {
  .about {
    flex-direction: column; /* Stack items on smaller screens */
    text-align: center;
  }

  .aboutTextContainer,
  .aboutImageContainer {
    max-width: 100%;
  }
}
@media screen and (max-width: 375px) {
.aboutTextContainer{
  margin-top: 20%;
}
}
@media screen and (max-width: 480px) {

  .about{
    padding: 0px;
    margin: 0px;
  }
  .aboutTitle{
    text-align: center !important;
  }
  
}
