.figure {
  display: grid;
  border-radius: var(--card-border-radius);
  overflow: hidden;
  cursor: pointer;
  background-color: whitesmoke;

  > * {
    grid-area: 1/1;
    transition: var(--card-transition-duration);
  }

  &:hover {
    .figcaption {
      --_i: 0%;
    }

    img {
      transform: scale(var(--image-hover-scale));
    }
  }
}

.image {
  width: 100%;
  height: 60vh;
  border-radius: 100%;
}

.figcaption {
  display: grid;
  align-items: end;
  font-family: sans-serif;
  font-size: var(--figcaption-font-size);
  font-weight: var(--figcaption-font-weight);
  color: var(--figcaption-color);
  padding: 0.75rem;
  background: var(--figure-hover-bg-color);
  clip-path: inset(0 var(--_i, var(--initial-clip)) 0 0);
  -webkit-mask: linear-gradient(var(--figcaption-color) 0 0), linear-gradient(var(--figcaption-color) 0 0);
  -webkit-mask-composite: xor;
  -webkit-mask-clip: text, padding-box;
  margin: -1px;
}