.whyus {
  min-height: 60vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap : 30px;
  background: var(--whyus-main-background);
  font-family: var(--font-family);
  margin-top: -6vh;
}

.whyusImageContainer {
  max-width: 40%; /* Adjust the width of the image container */
  padding: 20px;
}

.whyusTextContainer {
  min-height: 60vh;
  max-width: 60%; /* Adjust the width of the text container */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end; /* Align text to the right */
  padding: 20px;
}
.main_whyUs{
  display: flex;
}

.whyusHeading{
  font-size: 35px;
  font-weight: 600;
  // font-weight: bold;
}
.whyusTextContainer h1,
.whyusTextContainer h2,
.whyusTextContainer p {
  text-align: left; /* Align text to the right */
}
.whyusTextContainer h1
{
  font-size: 2.5rem;
  margin-right: 92vh;
}

.whyusTextContainer p
{
  font-family: var(--font-family);
  text-align: justify;
}

h1 {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  font-weight: bold;
  margin-bottom: 20px;
}

h2 {
  color: var(--tagline-color);
  font-size: var(--h2-font-size);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  margin-bottom: 20px;
}

p {
  line-height: 1.6;
  font-size: var(--p-font-size);
  color: var(--paragraph-color);
  margin-bottom: 20px;
  text-align: justify;
}
.whyusImageContainer img {
  max-width: 100%;
  height: 200px;
  height: auto;
}
.whyustitle{
  font-size: 2.5rem;
}

@media screen and (max-width: 600px) {
  .whyus {
    min-height: 70vh;
    flex-direction: column;
    text-align: center;
    margin-top: 60px;
  }

  .whyusImageContainer,
  .whyusTextContainer {
    max-width: 100%;
  }

  .whyusTextContainer {
    align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .whyus {
    flex-direction: column-reverse;
    margin-top: 90px;
  }

  .whyusHeading {
    font-size: 38px;
    // font-weight: bold;
    text-align: center; /* Center the heading text */
    width: 100%; /* Ensure the heading takes up the full width */
  }

  .whyusTextContainer {
    align-items: center;
    text-align: center;
  }
}