.testimonials {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 3rem 0;
  background: #b574c4;
  height: 195vh; 
  // margin-bottom: 63vh;
  border-radius: 5vh;

    
  
    span {
      color: black;
      font-size: 2.5rem;
      font-weight:500;
      font-family: var(--font-family);
    }
  
    p {
      padding-top: 1rem;
      max-width: 80%;
      text-align: justify;
    }
  
    .testimonialsGridContainer {
      max-width: 95%;
      display: grid;
      justify-content: space-evenly;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 25px;
  
      .testimonialsGridItem {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: var(--testimonials-gridbg-color);
        font-family: var(--font-family);
        box-shadow: 0 4px 6px var(--testimonials-box-shadow-color);
        border-radius: 10px;
        padding: 15px 0;
        margin-top: 30px;
  
        img {
          height: 7rem;
          width: 7rem;
          border-radius: 50%;
          border: 2px solid white;
        }
  
        h3 {
          font-size: 1.2rem;
          font-weight: bold;
          color:black;
        }
  
        h4 {
          font-size: 1rem;
          color: var(--testimonials-designation-color);
          text-align: center;
          width: 60%;
        }
      }
    }
  }
  
  @media screen and (max-width: 992px) {
    .testimonials {  
      .testimonialsGridContainer {
        grid-template-columns: repeat(1, 1fr);
        gap: 25px;
      }
    }
  }
  @media screen and (max-width: 375px){
    .testimonials{
      height: 480vh !important;
    }
  }
  @media screen and (max-width: 480px) {

   .testimonials{
      margin: 0px 10px;
      height: 380vh;
   }
   .testimonials-header_span{
    margin: 0px 0px 60px 0px !important;
    font-size: 1.7rem !important;
   }

  }
  